/* TODO Add site wide styles */
/* @font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url() format('woff'); */
/* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
/* } */

body {
    margin-top: 0;
}