@font-face {
    font-family: "Light";
    src: local("earthrnrCerealLight"),
        url("../../assets/earthrnrCerealLight.ttf") format("truetype");
}

.topbar {
    font-family: "Light";
    display: flex;
    justify-self: center;
    margin: 0, 20%, 0, 20%;
    position: static;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 2em;
    padding-top: 1em;
}

.profileshape {

    height: 3em;
    vertical-align: central;
    border-radius: 50%;
}

.homebutt {
    display: flex;
    font-size: 1.2em;
    text-decoration: none;
    align-items: center;
    font-stretch: extra-condensed;
    -webkit-text-fill-color: #fe5a62;
    vertical-align: top;
}

.dropbar {
    width: 10em;
    margin-right: 1em;
    text-align: center;
}

.profile-dropdown div {
    padding-top: 4%;

}

.profilebutt {
    /* vertical-align: middle; */
    /* position: relative; */
    background-color: white;
    border-radius: 50%;
    border-color: #fe5a62;
    /* text-align: left */
}